{# components/lucideIcons.njk #}

<script defer src="https://unpkg.com/lucide@0.255.0/dist/umd/lucide.min.js"></script>
<script defer>
  document.addEventListener('DOMContentLoaded', () => {
    lucide.createIcons({
      attrs: { class: ['svg-icon'] }
    });
  });
</script>
