<aside id="floating-control">
  <a id="emailme" href="#">
    <i icon-name="mail-plus" title="Discuss" aria-hidden="true"></i>
  </a>
  <span id="theme-switch">
    <i class="svg-icon light"  icon-name="sun"      aria-hidden="true"></i>
    <i class="svg-icon dark"   icon-name="moon"     aria-hidden="true"></i>
    <i class="svg-icon auto"   icon-name="sun-moon" aria-hidden="true"></i>
  </span>
</aside>

<!-- load the Ko-fi overlay widget library -->
<script defer src="https://storage.ko-fi.com/cdn/scripts/overlay-widget.js"></script>

<script defer>
  function setThemeIcon(theme) {
    let toRemove;
    switch (theme) {
      case 'dark':  toRemove = ['auto','light']; break;
      case 'light': toRemove = ['dark','auto'];   break;
      default:      toRemove = ['light','dark'];  break;
    }
    const sw = document.getElementById('theme-switch');
    sw.classList.add(theme);
    sw.classList.remove(...toRemove);
  }

  function setTheme(theme, setIcon) {
    if (setIcon) setThemeIcon(theme);
    if (theme==='dark') {
      document.body.classList.replace('theme-light','theme-dark');
    } else if (theme==='light') {
      document.body.classList.replace('theme-dark','theme-light');
    } else {
      theme = window.matchMedia?.('(prefers-color-scheme: dark)').matches
        ? 'dark' : 'light';
      setTheme(theme,false);
    }
  }

  let theme = localStorage.getItem('site-theme')||'auto';
  setTheme(theme,true);
  window.theme = theme;
  localStorage.setItem('site-theme',theme);

  window.matchMedia('(prefers-color-scheme: dark)')
    .addEventListener('change',()=>{
      if ((localStorage.getItem('site-theme')||'auto')==='auto') {
        setTheme('auto',true);
      }
    });

  document.getElementById('theme-switch')
    .addEventListener('click',()=>{
      const next = window.theme==='auto'
        ? 'dark'
        : window.theme==='dark'
          ? 'light'
          : 'auto';
      setTheme(next,true);
      window.theme = next;
      localStorage.setItem('site-theme',next);
    });

  document.addEventListener('DOMContentLoaded',()=>{
    // 1) email-me link with real page title:
    const emailLink = document.getElementById('emailme');
    emailLink.href =
      `mailto:talktome@maxwellcti.com` +
      `?subject=Regarding%20${encodeURIComponent(document.title)}` +
      `&body=Discussing%20${encodeURIComponent(location.href)}`;

    // 2) initialize the Ko-fi floating chat button
    kofiWidgetOverlay.draw('wiseguru', {
      'type': 'floating-chat',
      'floating-chat.donateButton.text': '',
      'floating-chat.donateButton.background-color': '#d9534f',
      'floating-chat.donateButton.text-color': '#fff'
    });
  });
</script>
