    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
/* Ordered Lists */
ol {
  list-style-type: decimal; /* Level 1: 1, 2, 3, ... */
}

ol ol {
  list-style-type: lower-alpha; /* Level 2: a, b, c, ... */
}

ol ol ol {
  list-style-type: lower-roman; /* Level 3: i, ii, iii, ... */
}

ol ol ol ol {
  list-style-type: upper-alpha; /* Level 4: A, B, C, ... */
}

ol ol ol ol ol {
  list-style-type: upper-roman; /* Level 5: I, II, III, ... */
}

ol ol ol ol ol ol {
  list-style-type: decimal-leading-zero; /* Level 6: 01, 02, 03, ... */
}

/* Unordered Lists */
ul {
  list-style-type: disc; /* Level 1: Bullet */
}

ul ul {
  list-style-type: circle; /* Level 2: Hollow Circle */
}

ul ul ul {
  list-style-type: square; /* Level 3: Square */
}

/***
 This is a section for Mermaid formatting.
 ***/
/* container */
.markdown-preview-view pre.mermaid {
  background:    #2E3440;  /* Nord base0 instead of white */
  border-radius: 25px;
  padding:       10px;
}

/* SVG background */
.markdown-preview-view pre.mermaid .mermaid,
.markdown-preview-view pre.mermaid .mermaid svg {
  background: transparent;
}

/* nodes */
.markdown-preview-view pre.mermaid .node rect {
  fill:   #3B4252;  /* Nord base1 */
  stroke: #4C566A;  /* Nord base3 */
}

/* edges */
.markdown-preview-view pre.mermaid .edgePath path {
  stroke: #81A1C1;  /* Nord frost-blue */
}

/* labels & text */
.markdown-preview-view pre.mermaid .label,
.markdown-preview-view pre.mermaid text {
  fill: #D8DEE9;   /* Nord snow-storm */
}

/* clusters (subgraphs) */
.markdown-preview-view pre.mermaid .cluster rect {
  fill:   #3B4252;  /* same as nodes */
  stroke: #4C566A;
}

/* notes */
.markdown-preview-view pre.mermaid .note rect {
  fill: #4C566A;    /* maybe a bit darker */
}
.markdown-preview-view pre.mermaid .note text {
  fill: #D8DEE9;
}
